# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git
.gitignore
.history/
node_modules/
.next/
out/
build/
dist/
*.env
*.env.local
*.env.*.local
.DS_Store
*.log
.cache/
README.md
docs/
trash/
*.md
!DEPLOYMENT.md
